# S05 T01: Transformació Registre Log amb Regular expressions

<span style=color:darkred>**References:**</span>
+ [PY4E: Regular Expressions](https://www.py4e.com/lessons/regex#)
+ [Python Regex for Data Scientists](https://www.dataquest.io/blog/regular-expressions-data-scientists/)
+ [RegexOne](https://regexone.com/)

### Descripció

L'anàlisi de registres és una funció important per al control i l'alerta, el compliment de les polítiques de seguretat, l'auditoria i el compliment normatiu, la resposta a incidents de seguretat i fins i tot les investigacions forenses. En analitzar les dades de registre, les empreses poden identificar més fàcilment les possibles amenaces i altres problemes, trobar la causa arrel i iniciar una resposta ràpida per mitigar els riscos.

## NIVELL 1 - EXERCICI 1

L'analista ha d'assegurar-se que els registres consisteixen en una gamma completa de missatges i s'interpreten segons el context. Els elements de registre han d'estandaritzar-se, utilitzant els mateixos termes o terminologia, per evitar confusions i proporcionar cohesió.

Com Científic de Dades se t'ha proporcionat accés als registres-Logs on queda registrada l'activitat de totes les visites a realitzades a la pàgina web de l'agència de viatges "akumenius.com".

### Exercici

Estandaritza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu [Web_access_log-akumenius.com](https://github.com/IT-Academy-BCN/Data-Science/blob/main/Data-sources/Web_access_log-akumenius.com.txt.7z) que trobaràs al repositori de GitHub ["Data-sources".](https://github.com/IT-Academy-BCN/Data-Science/tree/main/Data-sources)

In [1]:
#import libraries
import numpy as np
import pandas as pd
import re
#import json

In [105]:
#let's take a look to the file
#the readlines() return a list of lines
with open('Web_access_log.txt', 'r') as file:
    log = file.readlines()  
log[:5]

['localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-\n',
 'localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-\n',
 'localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-\n',
 'localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-\n',
 'localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-\n']

In [106]:
print(type(log))

<class 'list'>

In [107]:
#break each list in a list of elements splitting by empty space
#we get a list of lists
lst = []
for line in log:
    element = line.split(' ')
    lst.append(element)
print(lst[:5])

[['localhost', '127.0.0.1', '-', '-', '[23/Feb/2014:03:10:31', '+0100]', '"OPTIONS', '*', 'HTTP/1.0"', '200', '-', '"-"', '"Apache', '(internal', 'dummy', 'connection)"', 'VLOG=-\n'], ['localhost', '127.0.0.1', '-', '-', '[23/Feb/2014:03:10:31', '+0100]', '"OPTIONS', '*', 'HTTP/1.0"', '200', '-', '"-"', '"Apache', '(internal', 'dummy', 'connection)"', 'VLOG=-\n'], ['localhost', '127.0.0.1', '-', '-', '[23/Feb/2014:03:10:31', '+0100]', '"OPTIONS', '*', 'HTTP/1.0"', '200', '-', '"-"', '"Apache', '(internal', 'dummy', 'connection)"', 'VLOG=-\n'], ['localhost', '127.0.0.1', '-', '-', '[23/Feb/2014:03:10:31', '+0100]', '"OPTIONS', '*', 'HTTP/1.0"', '200', '-', '"-"', '"Apache', '(internal', 'dummy', 'connection)"', 'VLOG=-\n'], ['localhost', '127.0.0.1', '-', '-', '[23/Feb/2014:03:10:31', '+0100]', '"OPTIONS', '*', 'HTTP/1.0"', '200', '-', '"-"', '"Apache', '(internal', 'dummy', 'connection)"', 'VLOG=-\n']]

In [108]:
#convert the list of lists as a Dataframe
df = pd.DataFrame(lst)
df[100000:100010]

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
100000,www.akumenius.com,88.14.201.73,-,-,[25/Feb/2014:11:14:09,+0100],"""POST",/raton-search,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
100001,www.akumenius.com,88.14.201.73,-,-,[25/Feb/2014:11:14:10,+0100],"""GET",/hotel-list,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
100002,localhost,127.0.0.1,-,-,[25/Feb/2014:11:14:10,+0100],"""OPTIONS",*,"HTTP/1.0""",200,...,None,None,None,None,None,None,None,None,None,None
100003,www.akumenius.com,88.14.201.73,-,-,[25/Feb/2014:11:14:11,+0100],"""GET",//modules/raton/views/themes/bcoos/images/ajax...,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
100004,www.akumenius.com,88.14.201.73,-,-,[25/Feb/2014:11:14:11,+0100],"""GET",/modules/raton/views/themes/bcoos/images/logo_...,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
100005,www.akumenius.com,66.249.76.216,-,-,[25/Feb/2014:11:14:12,+0100],"""GET",/destinos-caracteristicas/hoteles-baratos-en-P...,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
100006,localhost,127.0.0.1,-,-,[25/Feb/2014:11:14:18,+0100],"""OPTIONS",*,"HTTP/1.0""",200,...,None,None,None,None,None,None,None,None,None,None
100007,www.akumenius.com,88.14.201.73,-,-,[25/Feb/2014:11:14:11,+0100],"""POST",/hotel-list-data/,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
100008,www.akumenius.com,88.14.201.73,-,-,[25/Feb/2014:11:14:31,+0100],"""GET",/modules/raton/views/themes/bcoos/images/star.png,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
100009,www.akumenius.com,88.14.201.73,-,-,[25/Feb/2014:11:14:32,+0100],"""GET",/modules/raton/views/themes/bcoos/images/ficha...,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None

In [109]:
#from the 12th to the last column, there are nulls
df.isnull().sum()

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12        42
13        42
14       677
15      5765
16      7897
17     94000
18     97266
19     97345
20    108417
21    126118
22    136252
23    172945
24    192300
25    193671
26    203914
27    209551
28    221546
29    234742
30    245308
31    248594
32    249779
33    252314
34    253623
35    255492
36    256251
37    257006
38    257984
39    258750
40    259996
41    260138
42    260169
43    260768
44    260768
45    260808
46    260963
47    260963
48    260963
49    260963
dtype: int64

In [110]:
#so, it means that the splitted lists have errors or more empty spaces 
#we are going to combine the columns from the 12 to the 49, in order to have just 12 columns
cols = np.arange(12,50)
df['resta_linia'] = df[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [111]:
#delete the individual rows we just concat
for n in cols:
    del df[n]

In [112]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,resta_linia
0,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
1,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
2,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
3,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
4,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."

In [113]:
#verify if the columns have the correct information
df[0].unique()

array(['localhost', 'www.akumenius.com', 'akumenius.com', 'akumenius.es',
       'test.akumenius.com'], dtype=object)

In [114]:
df[1].value_counts()

66.249.76.216     46382
80.28.221.123     14725
127.0.0.1         13891
217.125.71.222     5201
66.249.75.148      3558
                  ...
148.251.69.136        1
88.8.0.25             1
202.46.62.33          1
157.55.35.39          1
64.71.204.200         1
Name: 1, Length: 2921, dtype: int64

In [115]:
#because this row is just a '-', we can delete it
df[2].unique()
del df[2]

In [116]:
df[3].value_counts()

-          261833
clarcat        27
Name: 3, dtype: int64

In [117]:
df[4].isnull().sum()

0

In [118]:
#because this row is just a '+0100]', we can delete it
df[5].unique()
del df[5]

In [119]:
df[6].value_counts()

"GET                   229472
"POST                   16668
"OPTIONS                13891
"HEAD                    1787
"-"                        37
"\x80w\x01\x03\x01"         5
Name: 6, dtype: int64

In [120]:
df[9].value_counts()

200    226369
304     25269
404      8630
301       870
206       304
403       194
302       109
502        44
"-"        42
400        21
401         5
500         3
Name: 9, dtype: int64

In [121]:
df[11].unique()

array(['"-"',
       '"http://www.akumenius.com/hoteles-baratos/ofertas-hotel-Playa-Blanca-All-Inclusive-en-Cayo%20Largo_CUBA-62359b.html"',
       '"http://www.akumenius.com/"', ...,
       '"http://www.akumenius.com/booking/152186/t/BARCELO%20DOMINICAN%20BEACH/4"',
       '"http://www.akumenius.com/hotelDetailPopup/49612/b"',
       '"http://www.akumenius.com/destinos-baratos/destinos-caracteristicas/hoteles-baratos-en-Phuket_TAILANDIA-con-Windsurf"'],
      dtype=object)

In [127]:
df['resta_linia'][24:30]

24    "Mozilla/5.0 (compatible; Googlebot/2.1; +http...
25    "Mozilla/5.0 (compatible; Googlebot/2.1; +http...
26    "Mozilla/5.0 (compatible; Googlebot/2.1; +http...
27    "Mozilla/5.0 (compatible; Googlebot/2.1; +http...
28    "Mozilla/5.0 (compatible; Googlebot/2.1; +http...
29    "Mozilla/5.0 (compatible; Googlebot/2.1; +http...
Name: resta_linia, dtype: object

In [128]:
df.tail()

,0,1,3,4,6,7,8,9,10,11,resta_linia
261855,www.akumenius.com,5.255.253.53,-,[02/Mar/2014:03:05:39,"""GET",/,"HTTP/1.1""",200,7528,"""-""","""Mozilla/5.0 (compatible; YandexBot/3.0; +http..."
261856,www.akumenius.com,74.86.158.107,-,[02/Mar/2014:03:09:52,"""HEAD",/,"HTTP/1.1""",200,-,"""-""","""Mozilla/5.0+(compatible; UptimeRobot/2.0; htt..."
261857,localhost,127.0.0.1,-,[02/Mar/2014:03:10:18,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
261858,localhost,127.0.0.1,-,[02/Mar/2014:03:10:18,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
261859,localhost,127.0.0.1,-,[02/Mar/2014:03:10:18,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."

In [129]:
#rename the good columns
df.rename(columns={0: 'web', 1: 'ip', 4 : 'datetime', 6: 'options', 7:'url', 8:'protocol'}, inplace=True)
df.head()

,web,ip,3,datetime,options,url,protocol,9,10,11,resta_linia
0,localhost,127.0.0.1,-,[23/Feb/2014:03:10:31,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
1,localhost,127.0.0.1,-,[23/Feb/2014:03:10:31,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
2,localhost,127.0.0.1,-,[23/Feb/2014:03:10:31,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
3,localhost,127.0.0.1,-,[23/Feb/2014:03:10:31,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."
4,localhost,127.0.0.1,-,[23/Feb/2014:03:10:31,"""OPTIONS",*,"HTTP/1.0""",200,-,"""-""","""Apache (internal dummy connection)"" VLOG=-\n ..."

In [174]:
# re.finditer("([\w+\.*\w+\.*\w+\S]) ([\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}]) ([- \w.+]) ([\[.+\]]) ([.+])", log.linia[0]):
#log['web'] = log['linia'].str.split(r'(\w+\.*\w+\.*\w+\S)', expand=True)
#log['linia'].str.split(r'(\w+\.*\w+\.*\w+\S) (\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}) (- \w.+) (\[.+\]) (.+)', expand=True)